@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.main {
    background-color: #EAF1F2;
    height: 33vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.logo img {
    height: 24.8%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text p:nth-child(1) {
    font-size: 50px;
    font-family: 'Instrument Sans';
    font-weight: bold;
}
.text p:nth-child(2) {
    font-size: 30px;
    font-family: 'Cardo';
}