@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.Navbar {
    height: 11vh;
    background-color: #6FCDDA;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

#Learnify-Logo {
    height: auto;
    width: auto;
}

.search-bar {
    width: 40vw;
    height: 55%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
}
.search-bar input {
    border: none;
    height: 90%;
    width: 75%;
}

.login-signup {
    width: 15.6vw;
    height: 55%;
    display: flex;
    justify-content: space-between;
}
.Login {
    width: 45%;
    height: 100%;
    background-color: #ffffff;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
}
.Signup {
    width: 45%;
    height: 100%;
    background-color: #3489EB;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
}